{% extends 'front/base.html.twig' %}

{% block title %}La Centra-fake{% endblock %}
{% block body %}

    <h1>Les annonces</h1>
        <a class="btn btn-primary my-3"
               href="{{ path('app_brand_index') }}"
        >
            Marque
        </a>
        <a class="btn btn-primary my-3"
            href="{{ path('app_model_index') }}"
        >
            Model
        </a>

    <div class="container">
        <div class="containerCardListing">
            {% for listing in listings %}
            <div class="listingCard">
                    <a class="" href="{{ path('app_listing_show', {'title': listing.title}) }}">
                        <h2>{{ listing.title }}</h2>
                        <p>{{ listing.price }}€</p>
                    </a>
            </div>
            {% endfor %}
        </div>
            <div class="">
                {{ knp_pagination_render(listings) }}
            </div>
    </div>

    <a class="btn" href="{{ path('app_listing_new') }}">Ajouter une annonce</a>

{% endblock %}
